[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
djangorestframework = "*"
django = "*"
factory-boy = "*"
spotipy = "*"
twilio = "*"
psycopg = {extras = ["binary"], version = "*"}
python-dotenv = "*"
requests-mock = "*"
pytest = "*"
flask = "*"
pytest-django = "*"

[dev-packages]
pytest = "*"
flake8 = "*"

[requires]
python_version = "3.12"

[scripts]
test = "pytest -rP "
createdb = "python mixtape/db/create.py"
resetdb = "python manage.py flush"
runserver = "python manage.py runserver 8080"
run_migrations = "python manage.py makemigrations mixtape"
show_migrations = "python manage.py showmigrations"
apply_migrations = "python manage.py migrate"
django_shell = "python manage.py shell"
