[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
djangorestframework = "*"
django = "*"
factory-boy = "*"
spotipy = "*"
twilio = "*"
psycopg = {extras = ["binary"], version = "*"}
python-dotenv = "*"

[dev-packages]
pytest = "*"
flake8 = "*"

[requires]
python_version = "3.12"

[scripts]
test = "pytest"
createdb = "python mixtape/db/create.py"
runserver = "python manage.py runserver 8080"
migrate = "python manage.py migrate"
